 body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: grey;
    padding: 10px;
  }
  .grid-item {
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 16px;
    text-align: left;
  }

  .alarmMsg {
    text-align: right; 
    color: blue;    
  }

  .errorMsg {
    text-align: right; 
    color: red;    
  }

  .listAssignments {
    background-color: whitesmoke;
    border: 5px solid grey;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
  }
